<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Appender, Layout 설정-->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern=" %-5level %c(%M:%L)- %m%n"/>
        </Console>
    </Appenders>
    <!-- Logger 설정-->
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>

<!--    슬라이드5: log4j2.xml 을 수정하여 HandlerMapping의 등록정보를 확인하세요.-->
        <Logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="DEBUG" additivity="false" >
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.scoula" level="INFO" additivity="false" >
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>